


body {
    font-family: "Lucida Console";
    color: gray
}

header {
    background: url("./img/pattern.webp");
    /* background-color:rgba(255, 255, 255, 0.5); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: fit-content;
    text-align: -webkit-center;
    padding:5%

}

.main-banner {
    width:50%;
    color:tomato;
    opacity:1 important!;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h2{
    color: white
}

h3 {
    color: black;
}

.color-heading {
    padding:10px
}

#selectors {
    background-color: palegreen;
}
#specificity {
    background-color: palevioletred;
}

.site-footer {
    background-color: paleturquoise;
    padding: 50px;
    color:tomato;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }
